@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://use.typekit.net/lrv4rll.css");

body {
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    /* or 115% */
    text-align: center;
    letter-spacing: 0.05em;
    color: #849dba; /* tech blue */
}

h1 {
    font-family: "Abel", sans-serif;
    font-size: 28px;
    line-height: 36px;
    text-align: center;

    /* mars orange */

    color: #ff6700;
}

h2,
input {
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 108%;
    color: #d0dce7;
}

.date-selector h3 {
    font-size: 14px;
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

.date-picker input {
    font-family: Abel;
    font-size: 14px;
    line-height: 18px;
}

.sol {
    font-family: Abel;
    font-size: 12px;
    line-height: 15px;
    color: #ff6700;
}

.caption {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #849dba;
    opacity: 0.8;
    margin-bottom: 10px;
}

.geo-result {
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    margin-top: 5px;
}

.geo-error {
    color: #eb5757;
}

.api-error {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.api-error-container {
    width: 260px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    border: 2px solid #eb5757;
}

.api-error-container > * {
    margin: 12.5px;
}

.api-error-container > button,
.api-error-container > span {
    width: 125px;
}

.api-error-container > button {
    box-sizing: border-box;
    height: 60px;
    text-transform: uppercase;
}

.api-error-container > span {
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

img.geo-error {
    display: inline;
    padding-top: 0.25em;
    padding-right: 0.4em;
}

tr {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

thead {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #849dba;
    opacity: 0.5;
}

tr td {
    font-family: sofia-pro, sans-serif;
    font-size: 14px;
    line-height: 14px;
}

tr.earth {
    color: #004dc9;
}

tr.mars {
    color: #aa3b00;
}

/* Backgrounds */

.graphic-back {
    position: relative;
    background-image: url(assets/planet_bg_mob.png);
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    z-index: 1;
}

@media all and (min-width: 480px) {
    .graphic-back {
        background-image: url(assets/planet_bg_tab.png);
    }
}

@media all and (min-width: 1100px) {
    .graphic-back {
        background-image: url(assets/planet_bg_full.png);
    }
}

.gradient-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(black, transparent);
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.graphic-back * {
    z-index: 3;
}

.bg-dark {
    background-color: #000;
}

.bg-secondary {
    background-color: #070c0f;
}

.bg-error {
    background-color: rgba(7, 12, 15, 0.8);
    z-index: 5;
}

.bg-light {
    background-color: #e5e5e5;
}

/* Layout */

.viewport {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.wrapper {
    /* flex: 1; */
    margin: auto;
    height: 100%;
}

.centered-content {
    max-width: 560px;
    margin: 0 auto;
}

.main-content {
    flex: 1;
    align-self: center;
    width: 100%;
    max-width: 560px;
}

.container {
    display: flex;
}

.vbox {
    display: flex;
    flex-direction: column;
}

.splash-content {
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: calc(100% - 20px);
    padding: 0 20px;
    flex: 1;
}

.splash-summary {
    padding: 30px;
}

header .container {
    min-height: 65px;
    justify-content: center;
    margin-top: 45px;
}

header.splash .container {
    min-height: 100px;
    align-items: center;
}

.horz-borders {
    border-top: 1px solid rgb(132, 157, 186, 0.3);
    border-bottom: 1px solid rgb(132, 157, 186, 0.3);
}

.date-selector {
    flex-direction: column;
    justify-content: left;
    padding: 20px;
}

.date-selector h3 {
    text-align: left;
    margin-bottom: 12px;
}

.date-range-picker {
    flex: 1;
    justify-content: space-between;
}

.date-picker {
    flex: 1;
    text-align: left;
    flex-direction: column;
    max-width: 48.5%;
}

::-webkit-calendar-picker-indicator {
    filter: invert(0.86);
}

.sol {
    margin-top: 8px;
}

.graph {
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.unit {
    margin: 15px 0 25px 0;
}

.unit button {
    color: #849dba;
    line-height: 24px;
    background: transparent;
    border: 1px solid #849dba;
    border-radius: 90px;
    padding: none;
}

.unit button.left {
    border-radius: 90px 0 0 90px;
}

.unit button.right {
    border-radius: 0 90px 90px 0;
}

.unit button.toggle-on {
    background-color: #849dba;
    color: #070c0f;
}

.unit button:focus {
    /* outline: solid 2px #004dc9; */
    border-width: 1px;
}

.fill {
    flex: 1;
}

.full-height {
    height: 100%;
}

.chart-container {
    position: relative;
    width: 100%;
}

.legend {
    width: 100%;
    margin: 30px 0 10px 0;
}

.legend table {
    width: 280px;
    margin: auto;
}

tr {
    height: 30px;
}

tr td,
tr th {
    text-align: center;
    vertical-align: middle;
}

.mars th,
.earth th {
    /* min-width: 80px; */
    text-align: left;
}

table thead th {
    border-bottom: 1px solid #849dba;
}

table thead th:nth-child(1) {
    border-bottom: none;
}

.mobile-nav {
    position: relative;
    margin: 20px;
}

.mobile-nav .container-back {
    position: absolute;
    width: calc(100% - 40px);
    top: 10px;
    border: 1px solid #192a3e;
    left: 50%;
    transform: translateX(-50%);
}

.mobile-nav > .container {
    justify-content: space-between;
}

.bbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-nav button {
    height: 20px;
    width: 20px;
    margin-bottom: 10px;
    background: #192a3e;
    border: 0px solid #192a3e;
    border-radius: 90px;
    z-index: 1;
}

hr {
    justify-self: center;
    width: 80px;
    height: 0px;
    border: 1px solid #192a3e;
    z-index: 4;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Item Positioning */

/* Form Elements */

input {
    height: 43px;
    background: #070c0f;
    border: 1px solid rgba(255, 103, 0, 0.3);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;

    /* opacity: 0.3; */
}

input:focus {
    border-color: rgba(255, 103, 0, 1);
    outline: none;
}

input::placeholder {
    color: #d0dce7;
    opacity: 0.3;
}

input:-webkit-autofill {
    background-color: #070c0f;
}

button {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    color: #ff6700;
    background: rgba(7, 12, 15, 0.8);
    border: 1px solid #ff6700;
    text-align: center;
    padding: 10px;
}

button:focus {
    outline: none;
    border-width: 2px;
}

/* Modificatons */

button.mobnav-button-selected {
    background: #d0dce7;
    opacity: 1;
    /* border-color: #aa3b00; */
}

span.mobnav-span-selected {
    color: #d0dce7;
}
